<div class="container mt-4">
  <h2 class="text-secondary mb-4"><i class="bi bi-gear"></i> Configuración del Sistema</h2>

  <div class="card shadow-sm">
    <div class="card-header bg-secondary text-white">Datos de la Empresa (Para Facturas)</div>
    <div class="card-body">
      <form (ngSubmit)="guardar()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Razón Social / Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="config.nombreEmpresa" name="nombre" required>
          </div>
          <div class="col-md-6 mb-3">
            <label>RUC</label>
            <input type="text" class="form-control" [(ngModel)]="config.ruc" name="ruc" maxlength="13" required>
          </div>
        </div>
        
        <div class="mb-3">
          <label>Dirección Matriz</label>
          <input type="text" class="form-control" [(ngModel)]="config.direccion" name="dir" required>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Teléfono</label>
            <input type="text" class="form-control" [(ngModel)]="config.telefono" name="telf">
          </div>
          <div class="col-md-6 mb-3">
            <label>IVA (%)</label>
            <input type="number" class="form-control" [(ngModel)]="config.ivaPorcentaje" name="iva" step="0.1">
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <a routerLink="/menu" class="btn btn-outline-secondary">Cancelar</a>
          <button type="submit" class="btn btn-primary px-5">💾 Guardar Cambios</button>
        </div>
     <div class="card-footer text-center bg-light">
      
    </div>
      </form> 
  </div> 
    </div>
  
  </div>
